html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main {
	flex-grow: 1;
}

body {
	font-family: $font-main;
	color: $gray-clr;
	font-size: $f-size-sm;
	font-weight: 400;
	line-height: 1.55;
}

.container {
	max-width: $container;
	padding: 0 20px;
	margin: 0 auto;
}

@media (max-width: 360px) {
	.container {
		padding: 0 5px;
	}
}
