// color text
$white-clr: #fff;
$black-clr: #111e4c;
$logo-clr: #a7b7e7;
$gray-clr: #a8b7e7;
$accent-clr: #009dff;
$active-clr: #06314b;

// color background
$white-bg: #fff;
$black-bg: #000826;
$main-bg: #111e4c;
$accent-bg: #632323;
$active-bg: #009dff;

// color button
$main-btn: rgba(0, 157, 255, 0.15);
$active-btn: #06314b;
$accent-btn: #632323;

// Fonts
$font-main: 'Poppins', sans-serif;
$font-accent: 'inter', sans-serif;
$f-size-xxl: 90px;
$f-size-xl: 48px;
$f-size-md: 24px;
$f-size-sm: 17px;

// container
$container: 1400px;
